<div class="jobs-column" dropzone="move" 
     ondragover="event.preventDefault();"
     @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

    <h4>@ColumnStatus :<small>@_jobs.Count</small></h4>

    <ul class="dropzone @_dropClass">
        @foreach (var job in _jobs)
        {
            <JobCard Job="job"/>
        }
    </ul>
</div>
