<div class="jobs-column">
    <h4>@ColumnStatus (@_jobs.Count)</h4>

    <ul class="dropzone @_dropClass"
        ondragover="event.preventDefault"
        ondragstart="event.dataTransfer.setDate('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">
        @foreach (var job in _jobs)
        {
            <JobCard Job="job"/>
        }
    </ul>
</div>
